@import 'styles/variables.css';
@import 'styles/colors.css';

.field {
   & input {
      font-size: var(--font-size-m);
      width: 200px;
      padding: var(--space-s) var(--space-xs);
      border: none;
      border-bottom: 1px solid var(--color-middle);
      &:focus {
          outline:none;
      }
   }
}