@import 'styles/colors.css';
@import 'styles/variables.css';

.header {
    height: var(--header-h);
    background-color: var(--color-dark);
    color: var(--color-light);
    line-height: var(--header-h);
}