/* colors.css */
:root {
    --color-dark: rgba(0,0,0,1);
    --color-middle: rgba(127,127,127,1);
    --color-light: rgba(255,255,255,1);

    --color-water: rgba(30,205,151,1);
    --color-water-soft: rgba(30,205,151,0.4);
    --color-sand: rgba(255,187,0,1);
    --color-sand-soft: rgba(255,187,0,0.4);
}
