@import 'styles/colors.css';
@import 'styles/variables.css';
@import 'styles/breakpoints.css';

* {
  box-sizing: border-box;
}

html,body { height: 100%; margin: 0px; padding: 0px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: var(--font-size-m);
  background-color: var(--color-light);
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}

#container, #app {
  height: 100%;
  min-width: var(--bp-w-s);
  overflow: hidden;
}

#container {
  overflow: auto;
}