@import 'styles/variables.css';
@import 'styles/breakpoints.css';

.user {
  width: var(--bp-w-s);
  height: 100%;
  min-height: var(--bp-h-s);
  margin: 0 var(--space-l);
  padding: var(--space-s);
}
