@import 'styles/colors.css';
@import 'styles/variables.css';


.chatCtrl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.messagefield {
  width: 200px;
  height: 60px;
}

.messageBtn {
  padding-right: var(--space-s);
  & .svg-icon {
      width: 2.5em;
      height: 3.5em;
  & path,
  & polygon,
  & rect {
      fill: var(--color-water);
    }
  }
  &:hover {
  & path,
  & polygon,
  & rect {
      fill: var(--color-light);
    }
  }
}