@import 'styles/colors.css';
@import 'styles/variables.css';

.chatPanel {
    height: 60%;
    margin-bottom: var(--space-l);
    -webkit-box-shadow: inset 0px 0px 5px 0px var(--color-middle);
    -moz-box-shadow: inset 0px 0px 5px 0px var(--color-middle);
    box-shadow: inset 0px 0px 5px 0px var(--color-middle);
    overflow: auto;
}

.chatPanel-message {
    display: flex;
    flex-direction: column;
    border-style: solid;
    overflow: hidden;
}

.chatPanel-message__content {
    position: relative;
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: var(--radius);
&::after {
     content: '';
     position: absolute;
     top: 48%;
     width: 40%;
     height: 1px;
     background-color: var(--color-middle);
 }
}

.chatPanel-message__time {
    font-size: var(--font-size-xs);
    color: var(--color-middle);
}

.message-sender {
    border-width: 0 0 0 5px;
    border-color: var(--color-water-soft);
& .chatPanel-message__content {
      background-color: var(--color-water-soft);
      align-self: flex-end;
&::after {
     left: -40%;
 }
}
}

.message-receiver {
    border-width: 0 5px 0 0;
    border-color: var(--color-sand-soft);
& .chatPanel-message__content {
      background-color: var(--color-sand-soft);
      align-self: flex-start;
&::after {
     right: -40%;
 }
}
}
